:root {
	--black: black;
	--red: red;
	--white: white;
	--input-bg: #333333;
	--grey-text: rgb(125, 125, 125);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: var(--black);
}

.persian-text {
	text-align: center !important;
	direction: rtl !important;
}

@media (min-width: 950px) {
	.persian-text {
		text-align: right !important;
		direction: rtl !important;
	}
}
